{% extends 'base.html' %}

{% block content %}
<h1>{{ object.title }}</h1>
<p>{{ object.content }}</p>
<p>{{ object.name }}</p>
<p>{{ object.mail }}</p>
<p>{{ object.school }}</p>
<p>{{ object.level }}</p>
<p>{{ object.password }}</p>
<p>{{ object.fiscul }}</p>
<p>{{ object.lit }}</p>
<p>{{ object.algebra }}</p>
<p>{{ object.geomet }}</p>
<p>{{ object.history }}</p>
<p>{{ object.fiscul_t }}</p>
<p>{{ object.lit_t }}</p>
<p>{{ object.algebra_t }}</p>
<p>{{ object.geomet_t }}</p>
<p>{{ object.history_t }}</p>
{% endblock %}
 